.top-container {
    &__hero {
        background-image: url("../assets/jumbotron.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 40vh;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    &__cover-section {
        background-color: #0282f9;
        height: 10vh;
        width: 100%;
        position: relative;

        .top-container__cover {
            position: absolute;
            top: -250%;
            z-index: 1;
            border: 1px solid #fff;
        }
    }

    &__content-section__wrapper {
        background: #ffffff;
        min-height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content-section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        gap: 20px;
    }
    &__content {
        h1 {
            font-size: 1.4rem;
            font-weight: 700;
            color: #003f5e;
            text-transform: uppercase;
            padding-bottom: 1rem;
        }
        p {
            font-size: 0.8rem;
            font-weight: 600;
            color: #66615c;
            padding-bottom: 2rem;
            line-height: 1.8;
        }
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.strange-green-thing__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55ba59;
    width: 100%;
    z-index: 1;
    border-bottom: #2c5f2e solid 1px;
    margin: 1rem 0;

    p {
        font-size: 0.8rem;
        font-weight: 600;
        color: #b6f993;
        padding: 0.5rem;
    }

    .strange-green-thing__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 100%;
        flex-grow: 1;
        height: 100%;
        border-right: #2f6231 solid 1px;
        padding: 0px 10px;

        span {
            color: #fff;
        }
    }
    .strange-green-thing__check-disponibility {
        padding: 0px 10px;
        p {
            color: #fff;
        }
    }
}

.specific-container {
    background: #f6f6f6;
    padding-bottom: 5rem;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;

        .specific__talent {
            width: 50%;
            padding: 2rem 0;
            &-box {
                border-bottom: #dadada solid 1px;

                h2 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #003f5e;
                    padding-bottom: 1.5rem;
                }
                &__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 1rem 0;
                    h4 {
                        width: 30%;
                        font-size: 0.8rem;
                        font-weight: 600;
                        color: #66615c;
                    }
                    p {
                        width: 70%;
                        font-size: 0.8rem;
                        font-weight: 600;
                        color: #66615c;
                    }
                    .artist {
                        color: #47a6ff;
                    }
                    .serie {
                        color: #47a6ff;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.additional-banner {
    background: #f6f6f6;
    border-top: #dadada solid 1px;

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        &__content {
            width: calc(100% / 4);
            height: 60px;
            padding: 0.5rem;
            border-right: #dadada solid 1px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            h5 {
                font-size: 0.8rem;
                font-weight: 600;
                color: #66615c;
                text-transform: uppercase;
            }

            .img {
                width: 37px;
                height: 37px;
            }

            .img-1 {
                background-image: url("./../assets/cta-icons.png");
                background-position: 0 0;
            }
            .img-2 {
                background-image: url("./../assets/cta-icons.png");
                background-position: -37px 0;
            }
            .img-3 {
                background-image: url("./../assets/cta-icons.png");
                background-position: -74px 0;
            }
            .img-4 {
                background-image: url("./../assets/cta-icons.png");
                background-position: -111px 0;
            }

            &:hover {
                cursor: pointer;

                // & .img1,
                // .img2,
                // .img3,
                // .img4 {
                //     background-position: 0 -37px;
                // }
            }
            &:hover .img-1,
            &:hover .img-2,
            &:hover .img-3,
            &:hover .img-4 {
                background-position-y: -37px;
            }
        }
        &:first-child {
            border-left: #dadada solid 1px;
        }
    }
}
